body {
    font-size: 15pt;
}
a{
   color: blue;
}
navbar-inner{
   background: transparent;
}
.goals{
   background-color: navy;
   color: white;
   text-align: center;
   border-color: blanchedalmond;
   border-radius: 50px;
   padding: 20px;
}
.intro{
   text-align: center;
}
.whyus{
   text-align: center;
}
footer{
background-color: black;
color: white;
}
.center{
   text-align: center;
}